*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat',sans-serif;
    overflow: scroll;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 580px;
    margin-top: 60px; 
    margin-left: 30%;
    padding-bottom: 5%;
    font-family: arial;
    
}
#gmbrF{
    width:50%;
    margin-top: 20px; 
    border-radius: 200px;
    border: solid black;
    margin-left: 24%
    
}
#titleP{
    margin-left: 30%;
    margin-top: 1.8%;
    font-size:xx-large;
    
}
#subP{
    margin-left: 35%;
    font-size: large;
    margin-top: 1%;
}
#contentP{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
 #lineP{
    border-top :solid black;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
} 

table {

    
    width: 95%;
    margin-left: 4%;
    margin-top: 1%;
  }

/* th,td{
    border:solid black;
} */
  
#gmbr{
    width: 37px;
    margin-left: 9%;
    
}  

#gmbr2{
    width:35px ;
    margin-left: 9%;
} 

#sp1{
    color: rgb(255, 0, 0);
    font-size: x-large;
}

#sp2{
    color: rgb(255, 0, 0);
   
}

#sp5{
    color: red;
}
#sp3{
    color: blue;
    font-size: x-large;
}
#sp4{
    color: blue;
    
}


  
  


