*{
    margin:0;
    padding: 0;
}

/* .isi{
  padding: 100%;
  background-color: rgb(238, 252, 252);
} */


.hd{
  background-color: rgb(0, 255, 0);
  position: sticky;
  top:0; 
  text-align: left;
}
#judula{
  margin-top: 25px; 
  font-size: large; 
  margin-left: 30px;
  margin-right: 30px;
  font-size: larger;
}
footer{
 
 
  padding-bottom: 5%;
  /* position: sticky; */
  bottom: 0;
}
footer a{
  
  font-size: x-large;
  justify-content: space-around; 
  text-decoration: none;
  align-items: center;

  /* background-color: rgb(0, 255, 0); */
  
}
footer a:hover{
  color:#f0eff5;
}

footer a:active{
  color:#f0eff5;
}

.button{
  border:none;
    background-color: rgb(12, 12, 12);
    padding: 10px;
    color: rgb(232, 234, 235);
    font-size: 20px;
    font-family: arial;
    text-decoration: none;
    /* margin-left: 70%; */
    
}




nav{
  display:flex;  /* diberi flex supaya menu navnya(ul) ada disamping logo/judul  */
  background-color:rgb(0, 255, 0);
  /* space betwen untuk memberi jarak ditengah-tengahnya */
  justify-content :space-around; /*untuk memberi jarak setiap sisinya   
  /* padding: 20px 0; untuk memberi jarak atas bawah(20px) kiri kanan(0) pada navbar */
  /* untuk mengatur posisi objek navbar */
  height: 60px;
  /* color: black; */
  /*berasal dari flexbox */
  align-items: center;/*memberikan letak objek nav ke tengah*/
  
}


nav ul{
  
  display:flex;/* diberi flex supaya menu navnya jejer horizontal  */
  list-style:none;
  /*untuk menghilangkan tanda list pada menu ul or objek ul*/
  width:40%;
  justify-content: space-between;
}
nav ul li a{
  text-decoration: none;/*untuk menghilangkan underscore pada huruf di li*/
  font-size :x-large;/*untuk mengecilkan ukuran huruf */
}

.conH{
    position: relative;
    display: flex; 
    /* border: solid red; */
   /* margin-bottom: -50%; */
}
.vidH{
 
    border: solid black;
    /* width: 35%;
    height: 50%; */
} 
video{
    width: 40%;
    /* height: 100%; */
    margin-bottom: -13%;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 10px;
}
 .kontH{
 
     /* border: solid rgba(24, 84, 214, 0.582); */
      width: 35%; 
     margin-left: 2%;
     margin-top: 10%;
    
} 

.prodH{
margin-top: 15%;
margin-left: 10%;

}
.jdS1{
    font-size:xx-large ;
    color: rgb(0, 0, 0);

}
.titCard{
    font-size:xx-large ;
    text-align: center;
}
.jdS2{
    font-size:100% ;
    margin-left:68%;
    margin-top: 1%;
}

.addTit{
    margin-left: 10rem;
    /* border:1px solid black; */
    display: flex;
    margin-top: 2rem;
}
.formAdd{
    margin-left: 10rem;
    /* border:1px solid black; */
    display: flex;
    margin-top: 2rem;
}

.kontForm{
    width:40%;
    height: fit-content;
}
.kontForm1{
    width: 50%;
    margin-left: 1rem;
}

.borDash{
    border: dashed rgb(21, 226, 2);
    width:99%;
    height: 98%  ;
}

.borDash>div{
    margin-top:4%;
    margin-left: 30%;
}

.cardId{
    /* border: solid black; */
    margin-top: 4%;
    margin-left: 15%;
    margin-right:3%;
}




.inAdd{
    width:100%
}
.borH{
    /* border: solid black; */
    display: flex;
    /* border: solid red; */
}

.titProd{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.gmbrProd{
     border:  1px solid rgb(136, 123, 123);  
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
     /* box-shadow: 0 4px 90px 0 rgba(0, 0, 0, 0.2);  */
}

.gmbrProd>div{
    text-align: center;
}

.gmbrI+div{
    font-size: x-large;
    font-weight: bold;
}
.ketG{
    font-size: large;
    color: green;
    /* text-decoration: underline; */
    margin-top: 15%;
    margin-left: 2%;
}

.jShop{
    margin-top: 25%;
}
.flexhd{
  display: flex;
}

.judul{
  font-size: 150%;
  margin-left: 2%;
}

 .judul +div{
  margin-top: 10px;
  font-size: 100%;
  color: #0e0b0b;
  margin-left: 6%;
  /* color: #ff0000; */
}

.jdlD+div span:first-child{
  /* color:#06b800; */
  font-size: 110%;
  font-weight:bolder;
  /* font-style: italic; */
  color: rgb(6, 155, 38);

}
/* >untuk memanggil child element /tag hanya didaerah tagnya 
sendiri */
/* sedangkan space semua kepanggil selama dia jadi parent atau di
bawahannya */
.jdlD+div > *:last-child{
  /* color:#06b800; */
  font-size: 110%;
  font-weight:bolder;
  /* text-decoration: underline; */
  color: rgb(11, 11, 12);

}
/* .sol span:last-child{
  font-weight: bolder;
  color: #ff0000;
} */

.button:hover{
  color:rgb(0, 255, 149);
}

.button:active{
  color:#000000;
}

.fix{
  display: flex;
  margin:40px ;
  
}

.verticalWarehouse {
  
 margin: 1rem 1rem 1rem 4rem; 
/* display: grid;  */
/* grid-auto-flow: row; */
/* gap: 1rem; */
width: 400px;
padding: 2rem 5rem 2rem 2rem;
height: 480px;
overflow-y: auto; 
flex-wrap: wrap;

/* overscroll-behavior-y: contain; */
/* scroll-snap-type: y mandatory; */
}

.verticalWarehouse1 {
  
  margin: 1rem 1rem 1rem 4rem; 
border: #0a0a0a;
 width: 400px;
 padding: 2rem 5rem 2rem 2rem;
 height: 480px;

 flex-wrap: wrap;
 
 /* overscroll-behavior-y: contain; */
 /* scroll-snap-type: y mandatory; */
 }

.wr1{
  overflow-y: auto;
  border: solid rgb(230, 14, 14);
}
.wr2{
  overflow-y: auto;
  border: solid rgb(3, 27, 245);
}

.flexContainer1 {
  display: flex;
  background-color: rgb(247, 247, 247);
  
  /* flex-wrap: wrap; */
}
.JDd{
  background-color: #f1f1f1;
  margin: 2rem;
  padding: 20px;
  font-size: 30px;
  border: solid black;
} 
 .jdDTL
 {
  width: 100%; 
  /* background-color: green; */
  border: solid rebeccapurple;
} 

  .dtlPro {
  /* background-color: #ce0b0b; */
  margin: 2rem 9rem 2rem 0rem;
  padding:  20px;
  font-size: 20px;
  border: solid rgb(43, 201, 28);
  overflow-y: scroll;
} 
.jdlD{
  font-size: xx-large;
  text-align: justify;
  font-weight: bold;
}
.jdlD+div{
  font-size: 70%;
  margin-top:3px;
}

/* article{
  /* padding-left: -8; */
  /* margin-top: -2px;
  border: 1px solid rgb(218, 9, 9);
 
  
}  */ 
.jdw{
  text-align: center;

}

.contentd{
  margin-top: -2px;
  border: 1px solid rgb(5, 5, 5);
  overflow-y: scroll;
  
}
.dtl{
  border:1px solid black;
  
  margin-top:40px ; 
  
  /* padding-left: -100px; */
  width: 100%;
}
.jdd{
  font-size: x-large;
  color: #020202;
}

.jdShopp{
    width:85%;
     margin-left: 8rem;
     display: flex;
     margin-top: 1%; 
}

/* .addTit{
    width:85%;
     margin-left: 8rem;
     display: flex;
     margin-top: 0.5%; 
} */

.jds{
    font-size: larger;
    color: grey;
    margin-top: 3rem;
    margin-left: 8rem;
    text-decoration: none;
}

.flexContainer {
    display: flex;
    background-color: rgb(247, 247, 247);
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 10rem;
    margin-top: 1rem;
    
  }
  
  .flexContainer > div {
    box-shadow: 0 4px 90px 0 rgba(0, 0, 0, 0.2);
    background-color: #feffff; 
    /* margin-left: 1rem; */
    padding: 20px 20px 5px 15px;
    font-size: 30px;
    /* border-radius: 30px; */
   
  }
 
 

  


  
.gmbrD {
    /* border:2px solid rgb(7, 43, 248) ; */
    width: 18vw;
}
.gmbrI 
{
    /* border:1px solid rgb(7, 43, 248) ;  */
    width: 16vw;
    /* margin-left: 6%; */
}




img + div{
    /* border:1px solid rgb(204, 190, 190) ; */
    text-align: left;
    width: 21rem;
} 
div > b {
    font-size: l20px;
    color: rgb(20, 19, 19);
    font-weight: lighter;
}

.content{
  /* border: 1px solid rgb(0, 0, 0);  */
  font-size:  15px;
  width: 23vw;
   margin: 0px 0px 0px 0px;
   padding: 10px 0px 20px 0px;
   text-align: justify;
   
}


.contentq{
  border: 1px solid black;
  font-size:  15px;
  width: 280px;
   margin: 0px 0px 0px 0px;
   padding: 10px 0px 20px 0px;
   text-align: justify;

}














































